# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/
venv/

# Local settings
local_settings.py
config.py
src/backend/config.py


# Database
db.sqlite3
db.sqlite3-journal
db/dump.sql

# Logs
*.log

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg

# IDE settings
.idea/
.vscode/

# Python tools
.pytype/
.mypy_cache/
.dmypy.json
cython_debug/

# Django specific
*.mo
*.pot
staticfiles/
media/

# Temporary files
*.tmp
*.bak
*.swp

# Protected data
protected/
src/backend/telegram_bot/bot_token.py

# Ignore test files
src/backend/test_*.py

# .gitignore в корне проекта

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
