{% extends "admin/utils/utils_base.html" %}

{% block utils_content %}
<h2>📜 Реестр callback_data</h2>

<!-- Ввод для поиска функции -->
<div class="function-search">
    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><label for="function-search">Начните вводить имя функции:</label></td>
            <td style="width: 40%;"><input type="text" id="function-search" placeholder="Начните вводить имя функции..."></td>
            <td style="width: 30%;"><button id="clear-search">❌</button></td>
        </tr>
    </table>
    <div id="search-result"></div> <!-- Здесь будут выводиться результаты поиска -->
</div>

<div class="scrollable-table">
    <table id="callbackTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">📌 CALLBACK DATA</th>
                <th onclick="sortTable(1)">⚙️ ФУНКЦИЯ</th>
                <th onclick="sortTable(2)">📦 МОДУЛЬ</th>
                <th onclick="sortTable(3)">📄 ОПИСАНИЕ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in callback_registry %}
            <tr>
                <td>{{ item.callback }}</td>
                <td>{{ item.function }}</td>
                <td>{{ item.module }}</td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const functionSearchInput = document.getElementById("function-search");
    const clearSearchButton = document.getElementById("clear-search");
    const searchResultDiv = document.getElementById("search-result");

    const functions = [
        {% for item in callback_registry %}
            { name: "{{ item.function }}", callback: "{{ item.callback }}" },
        {% endfor %}
    ];

    functionSearchInput.addEventListener("input", function() {
        const searchQuery = functionSearchInput.value.toLowerCase();
        const results = functions.filter(function(item) {
            return item.name.toLowerCase().includes(searchQuery);
        });

        displayResults(results);
    });

    clearSearchButton.addEventListener("click", function() {
        functionSearchInput.value = ""; // Очищаем поле
        searchResultDiv.innerHTML = ""; // Очищаем список результатов
    });

    function displayResults(results) {
        searchResultDiv.innerHTML = results.length
            ? results.map(result => `<div>${result.name}</div>`).join("")
            : "Нет совпадений";
    }
</script>


{% endblock %}
