<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
        {% if session.get('role') == 'admin' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
        {% elif session.get('role') == 'dispatcher' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dispatcher.css') }}">
        {% elif session.get('role') == 'specialist' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/specialist.css') }}">
        {% elif session.get('role') == 'executor' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/executor.css') }}">
        {% elif session.get('role') == 'customer' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/customer.css') }}">
        {% endif %}
</head>
<body>
    <h1>CRM Управление заказами MaxMontaj67</h1>

    {% if session.get('user_id') %}
    <a href="{{ url_for('logout') }}" class="logout-button">Выход</a>
    {% endif %}

    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 MaxMontaj67. Все права защищены.</p>
        <p>Разработано GreenBandYt (GBt)</p>
    </footer>
</body>
</html>
