{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<h1>Вход в систему</h1>

<!-- Блок для отображения ошибок -->
{% if error %}
<div class="error-message">
    <p>{{ error }}</p>
    <button onclick="this.parentElement.style.display='none';">Ок</button>
</div>
{% endif %}

<form action="/" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <br>
    <br>
    <input type="password" name="password" placeholder="Пароль" required>
    <br>
    <br>
    <button type="submit">Войти</button>
</form>
<br>

<div class="register-link">
    <a href="/register">Регистрация нового пользователя</a>
</div>
{% endblock %}
