{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<a href="{{ url_for('logout') }}" class="logout-button">Выход</a>

<h2>Регистрация нового пользователя</h2>
<form action="/register" method="post" autocomplete="off" id="registrationForm">
    <label for="role">Выберите роль</label>
    <div class="role-selection">
        <button type="button" onclick="setRole('5')">Клиент</button>
        <button type="button" onclick="setRole('4')">Исполнитель</button>
        <button type="button" onclick="setRole('3')">Специалист</button>
    </div>
    <input type="text" id="role" name="role" placeholder="Выбранная роль" required readonly>

    <label for="name">Имя</label>
    <input type="text" id="name" name="name" placeholder="Введите ваше имя" required autocomplete="off">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Введите ваш email" required autocomplete="new-email">

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required autocomplete="new-password">

    <label for="password_confirm">Подтвердите пароль</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Подтвердите ваш пароль" required autocomplete="new-password">

    <button type="submit">Зарегистрироваться</button>
</form>

<script>
    // Функция для установки выбранной роли
    function setRole(roleId) {
        document.getElementById('role').value = roleId;
    }

    // Функция для проверки совпадения паролей
    document.getElementById('registrationForm').addEventListener('submit', function (e) {
        const password = document.getElementById('password').value;
        const passwordConfirm = document.getElementById('password_confirm').value;

        if (password !== passwordConfirm) {
            e.preventDefault(); // Отмена отправки формы
            alert('Пароли не совпадают!'); // Отображение предупреждения
        }
    });
</script>
{% endblock %}
